/* Sayfa genelinde margin ve padding sıfırlama */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  footer {
    background-color: #222;  /* Arka plan rengi */
    color: white;  /* Yazı rengi */
    text-align: center;  /* Metni ortaya hizalama */
    padding: 10px 0;  /* Üst ve alt boşlukları ayarlama */
    width: 100%;  /* Footer'ın tam genişlikte olmasını sağlıyoruz */
    position: fixed;  /* Footer'ı sayfa altına sabitlemek için */
    left: 0;  /* Sol kenara yaslama */
    bottom: 0;  /* Sayfa altına sabitleme */
    box-sizing: border-box;  /* Padding'i genişlik hesaplamalarına dahil et */
  }
  